In [ ]:
import pandas as pd
import numpy as np
from google.colab import drive
import random
from sklearn.metrics.pairwise import cosine_similarity
from sklearn.model_selection import train_test_split
from sklearn.metrics import mean_squared_error
from math import sqrt

In [ ]:
drive.mount('/content/drive')

Mounted at /content/drive

In [ ]:
data = pd.read_csv('/content/drive/MyDrive/UML/HW6/ml-100k/u.data', header= None , sep = '\t')
data.columns = ['user_id' , 'movie_id' , 'rating' , 'timestamp']

In [ ]:
data.head()

   user_id  movie_id  rating  timestamp
0      196       242       3  881250949
1      186       302       3  891717742
2       22       377       1  878887116
3      244        51       2  880606923
4      166       346       1  886397596

In [ ]:
user_movie = data[['user_id', 'movie_id', 'rating']].pivot(index='user_id', columns='movie_id', values='rating').fillna(0).reset_index(drop=False).rename_axis(None, axis=1)

In [ ]:
user_movie.head()

,user_id,1,2,3,4,5,6,7,8,9,...,1673,1674,1675,1676,1677,1678,1679,1680,1681,1682
0,1,5.0,3.0,4.0,3.0,3.0,5.0,4.0,1.0,5.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
1,2,4.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
2,3,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
3,4,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
4,5,4.0,3.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0

In [ ]:
user_user_sim = pd.DataFrame(cosine_similarity(user_movie, user_movie))

In [ ]:
user_user_sim.head()

,0,1,2,3,4,5,6,7,8,9,...,933,934,935,936,937,938,939,940,941,942
0,1.000000,0.167592,0.049139,0.066158,0.377653,0.429362,0.440073,0.312699,0.077909,0.373660,...,0.035762,0.019051,0.029350,0.020432,0.023475,0.019692,0.028277,0.018915,0.023171,0.035696
1,0.167592,1.000000,0.118123,0.186735,0.080087,0.251013,0.112286,0.116409,0.173619,0.168430,...,0.074221,0.074082,0.083393,0.076072,0.078167,0.073263,0.074777,0.069177,0.072833,0.071051
2,0.049139,0.118123,1.000000,0.359542,0.036591,0.085778,0.076558,0.113197,0.108807,0.086344,...,0.134353,0.133931,0.140667,0.134457,0.137507,0.133620,0.139092,0.134884,0.138133,0.133990
3,0.066158,0.186735,0.359542,1.000000,0.052477,0.086228,0.104750,0.224758,0.164153,0.090002,...,0.183944,0.182348,0.187662,0.185988,0.186865,0.182313,0.188968,0.184490,0.188124,0.184100
4,0.377653,0.080087,0.036591,0.052477,1.000000,0.247056,0.379648,0.268986,0.099151,0.217263,...,0.136025,0.120151,0.122541,0.119928,0.123669,0.120297,0.127392,0.120883,0.124135,0.133454

In [ ]:
len_train = 800
len_test = len(user_movie) - len_train

In [ ]:
train_idx = list(np.arange(1, (len_train+1)))
test_idx = list(np.arange((len_train+1), (len_train+len_test+1)))

In [ ]:
train_df = user_movie[user_movie['user_id'].isin(train_idx)]
test_df = user_movie[user_movie['user_id'].isin(test_idx)]

In [ ]:
train_df

,user_id,1,2,3,4,5,6,7,8,9,...,1673,1674,1675,1676,1677,1678,1679,1680,1681,1682
0,1,5.0,3.0,4.0,3.0,3.0,5.0,4.0,1.0,5.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
1,2,4.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
2,3,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
3,4,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
4,5,4.0,3.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
795,796,2.0,5.0,0.0,5.0,4.0,0.0,0.0,5.0,3.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
796,797,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
797,798,4.0,4.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
798,799,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
799,800,4.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0

In [ ]:
test_df

,user_id,1,2,3,4,5,6,7,8,9,...,1673,1674,1675,1676,1677,1678,1679,1680,1681,1682
800,801,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
801,802,0.0,0.0,0.0,0.0,0.0,0.0,5.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
802,803,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
803,804,5.0,4.0,0.0,4.0,0.0,0.0,4.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
804,805,4.0,0.0,0.0,2.0,4.0,0.0,5.0,3.0,3.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
938,939,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,5.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
939,940,0.0,0.0,0.0,2.0,0.0,0.0,4.0,5.0,3.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
940,941,5.0,0.0,0.0,0.0,0.0,0.0,4.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
941,942,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
942,943,0.0,5.0,0.0,0.0,0.0,0.0,0.0,0.0,3.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0

In [ ]:
test_sim = user_user_sim.iloc[len_train:, :len_train]
test_sim

,0,1,2,3,4,5,6,7,8,9,...,790,791,792,793,794,795,796,797,798,799
800,0.016718,0.070981,0.142190,0.190324,0.118094,0.109806,0.086111,0.254200,0.403062,0.172330,...,0.999578,0.999251,0.999152,0.999055,0.998315,0.995967,0.999552,0.997437,0.999350,0.999382
801,0.022260,0.069919,0.140023,0.188144,0.124841,0.113753,0.094811,0.257790,0.405457,0.177735,...,0.999105,0.998875,0.998747,0.998656,0.998131,0.996034,0.999131,0.997245,0.999029,0.998978
802,0.017289,0.073309,0.139639,0.184835,0.118101,0.111410,0.085932,0.253267,0.405809,0.173210,...,0.999604,0.999311,0.999141,0.999248,0.998375,0.995917,0.999628,0.997584,0.999534,0.999439
803,0.055895,0.075425,0.138895,0.187874,0.155017,0.140969,0.132456,0.279965,0.409558,0.204857,...,0.996310,0.996387,0.996433,0.996243,0.997116,0.996532,0.996457,0.996251,0.996321,0.996502
804,0.047865,0.072342,0.140115,0.186525,0.145990,0.132224,0.116883,0.269441,0.404951,0.193902,...,0.997188,0.997292,0.997291,0.997249,0.997744,0.996003,0.997276,0.996431,0.997255,0.997298
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
938,0.019692,0.073263,0.133620,0.182313,0.120297,0.112190,0.088062,0.255367,0.403066,0.173250,...,0.999217,0.999318,0.999221,0.999008,0.998274,0.996107,0.999391,0.997627,0.999209,0.999443
939,0.028277,0.074777,0.139092,0.188968,0.127392,0.122415,0.097585,0.261740,0.406144,0.184294,...,0.999125,0.998941,0.998846,0.998885,0.998410,0.996532,0.999158,0.997521,0.999123,0.999011
940,0.018915,0.069177,0.134884,0.184490,0.120883,0.111564,0.085848,0.255341,0.404710,0.172846,...,0.999551,0.999513,0.999416,0.999337,0.998615,0.996102,0.999720,0.997704,0.999501,0.999614
941,0.023171,0.072833,0.138133,0.188124,0.124135,0.121420,0.096040,0.259196,0.405214,0.179449,...,0.999006,0.998815,0.998684,0.998650,0.998125,0.996450,0.999070,0.997420,0.999018,0.998922
942,0.035696,0.071051,0.133990,0.184100,0.133454,0.122180,0.104132,0.266637,0.405044,0.181739,...,0.998516,0.998630,0.998532,0.998374,0.998253,0.996816,0.998663,0.997341,0.998576,0.998574

In [ ]:
total_rmse = 0

for i in range(len_test):

    actual_ratings = test_df.iloc[i, 1:].tolist()
    predicted_ratings = []

    for mid in range(1, 1683):
        sim_weights = test_sim.iloc[i].tolist()
        train_ratings = train_df.iloc[:, mid].tolist()
        pred = np.average(train_ratings, weights=sim_weights)
        predicted_ratings.append(pred)

    total_rmse += sqrt(mean_squared_error(actual_ratings, predicted_ratings))

avg_rmse = total_rmse / len_test

In [ ]:
avg_rmse

0.785146366337089